*{
    margin: 0;
    padding: 0;
}
body{
   background: rgb(2,0,36);
   background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(4,101,135,1) 50%, rgba(7,58,85,1) 100%, rgba(2,0,36,1) 100%);
}
.container{
    border-radius: 30px;
    height: 300px;
    width: 400px;
    padding-top: 50px;
    padding-left: 80px;
    margin-top: 200px;
    margin-left: 500px;
    background: transparent;
   
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background: rgba(235,0,255,0.11);
}
h1 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  }

  p {
    font-size: 18px;
    margin-bottom: 20px;
  }

  button {
    background-color: #5d00ff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    color: #e7e2e2;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  }

  button:hover {
    background-color: #FFC107;
    transform: scale(1.1);
    color: brown;
  }

  .result {
    font-size: 20px;
    margin-top: 20px;
    color: #FFD700;
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  }